* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 0.5fr;
    grid-template-areas: "nav main"
                        "footer footer";
}

nav {
    background-color: cyan;
    grid-area: nav;
}

main {
    background-color: blueviolet;
    grid-area: main;
}

footer {
    background-color: yellow;
    grid-area: footer;
}