body {
    height: 100vh;
    display: grid; 
    grid-template-columns: 0.5fr 2fr; 
    grid-template-rows: 0.3fr 2fr; 
    grid-template-areas: 
      "header header"
      "nav main";
}

header {
    background-color: red;
    grid-area: header;
}

header p {
    margin: 0px;
}

main {
    background-color: green;
    grid-area:  main;
   
}

nav {
    background-color: blue;
    grid-area: nav;
}
 